@media only screen and (min-width:769px){
 .syllabus {
    padding-left: 2%;
}
.banner {
  height: 620px;
  overflow: hidden;
}
.banner-bg {
    background: url('//emeritus.org/wharton/business-analytics/images/banner-desk.jpg') no-repeat #004785;
    background-size: cover;
    min-height: 620px;
}
}

@media only screen and (max-width:1320px){
	#header {
    background: #004785;
}	
}


@media only screen and (min-width:1370px){
.banner-bg{
    background-size: cover;	
}
}

@media only screen and (max-width:1200px){
.img-content h3{
	font-size: 24px;
}
.img-content p, .img-content p span.f18 {
    font-size: 22px;
}
p.intro-text, .counter-row{
    padding: 0;	
}
}	
	
@media only screen and (max-width:1125px){
.info-box{ 
	padding:25px 17px;
    height: 143px;
}	
.bg_grey{
	padding: 1px 30px 60px 30px;
}
.pad-ct-top {
    padding-top: 5%;
}
.padl80{
	padding-left:30px;
    padding-top: 15%;
}
p.certificate-line{
	padding-left:30px;
}
.padr80{
	padding-right:30px;
}
.no-marg{
	margin-top:0px;
}
.banner-content{
	padding:35px 5px 30px 35px;
}
p.intro-text, .counter-row{
	padding:0px;
}
}


@media only screen and (max-width:1090px){
.banner-content h1 {
    font-family: 'Arial';
    font-size: 42px;
    line-height: 50px;
}
.banner-content{
	padding:35px 23px 30px 28px;
}	
.img-content h3, .img-content p, .img-content p span.f18{
	font-size: 19px;
    line-height: 25px;
}
.info-box {
    padding: 18px 19px;
}

.col20.box{
	padding:0 20px;
}
#mobile-padd{
	padding:0 5%;
}
legend {
  width: 40% !important;
  margin-bottom: -25px
}
legend img {
 width: 100%;
}
.padl80{
    padding-top: 30%;
}
}

@media only screen and (max-width:961px){
.img-content h3, .img-content p ,.img-content p span.f18{
	font-size: 16px;
    margin: 0;
}
.row.icon-row.display_desktop{
	display:none;
}
.banner-content h1{
    font-size: 29px;
    line-height: 36px;
	margin-bottom:15px;
}
.banner-content h2 {
    font-size:25px;
    line-height:30px;
}
.banner-content{
    margin-top: 156px;
	padding:25px 15px 25px 15px;
}
.col-md-7.no_pad{
	width:80%;
}
}

@media only screen and (max-width:900px){
p.text-justify.Practitioner_text{
	padding:0 10%;
}
.col20.box.hidden-xs{
	display:none;
}
.col20.box {
    width: 50%;
}
}

@media only screen and (max-width:768px){
.info-box {
    padding: 25px 20px;
}
.header {
    padding: 15px;
}
	
fieldset {
  max-height: 100% !important;
  margin-top: 30px !important;
  padding: 0 10px 19px 10px !important;
  margin: 0 2px !important;
}

.banner-content{
    margin-top: 94px;
}
.img-content h3, .img-content p ,.img-content p span.f18{
	font-size: 16px;
    margin: 0;
}
.padtop{
	padding-top:0px;
	padding-top:0px;
}
.counter-row{
	padding:30px 0;
	margin:20px 0 20px 0;
}
.col-sm-12.text-left.subcontent {
    padding-left: 15px;
}
.abt-content h3{
	font-size: 47px;
}
.abt-content.bb-a, .abt-content {
    padding: 0;
}
.padl80{
	padding-left:10px;
}
p.certificate-line{
	padding-left:10px;
}
.padr80{
	padding-right:10px;
}
.pad-ct-content{
	padding-top:0px;
}
.certificate-bg{
    padding:6% 0 2% 0;	
}
.banner-bg {
    background: url(//emeritus.org/wharton/business-analytics/images/banner-desk.jpg) no-repeat;
    background-size: cover;
}

.form-div{
	width:100% !important;
}
.df{
	display: block!important;
	padding:18px 0!important
}
.banner-content{
	padding-left: 15px;
}
.container.info-row{
	margin-top:40px;
}
}


@media only screen and (max-width:767px){
#logo-content{
	float:none;
	text-align:center;
}
.header .row{
	 display:block;
	align-items: center;
}
.certificte h1{
	padding-top:20px;
}
.your-learning-mt {
    margin-top: -23px;
}
p.certificate-line {
    text-align: center;
	padding:0 15px 25px 15px;
}
.col-md-7.no_pad{
	width:100%;
}
.counter-row {
    padding: 30px;
}	
.banner-content h2{
	margin-bottom:0px;
}
.col-sm-6.certificte.text-right{
	text-align:center;
}
.certificte h1{
    margin-bottom: 7px;
}

.col-md-4.col-sm-4.col-xs-12 {
    width: 50%;
}
legend img {
    max-width: 100%;
}
legend {
    width: 37% !important;
}
fieldset {
    height: auto !important;
}
.top-footer{
	padding-left:5%;
	padding-right:5%;
}

.col20.box {
    width: 50%;
    margin-bottom: 40px;
}
.abt-content h3 {
    font-size: 42px;
    line-height:49px;
}

.certificate-bg h1{
	font-size:40px;
}

h1.heading.no-marg {
    text-align: center !important;
    margin-top: 40px;
}
.padl80 p{
	text-align:center;
}
.certificate-img{
    text-align: center;
}
.banner-bg {
    background: url(//emeritus.org/wharton/business-analytics/images/mob_banner.jpg) no-repeat;
    background-size: contain;
}	
.certificate-bg {
    background:none;
}

img.img-responsive{
	display:inline;
}
.header{
	text-align:center;
}
.col-md-4.col-sm-4.no_pad {
    width: 32%;
    float: left;
}
.img-content h3, .img-content p ,.img-content p span.f18 {
    font-size:14px;
    line-height: 160% !important;
}
.info-box {
    height: 116px;
}
.b-r-f-1{
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-right: none;
	border-left: none;
}

.certificate-bg{
	padding:0% 0 40px 0;
}
.margin-section{
	margin-top:0px;
	margin-bottom:20px;
}
.certificate-bg h1{
	text-align:center;
}
.certificate-bg p{
	clear:both;
	padding:0px 30px 0 30px;
}
.padl80{
	text-align:center;
	padding:0px;
}
p.certificate-line{
	padding-left:0px;
}
.container.pad-ct-content.col-sm-6{
	padding:0px;
}
.padtop p{
	margin:-13px 0 20px 0px;
	padding:0 3%;
}
.top-footer h3{
	padding: 0 30px;
	line-height: 32px;
}
footer p{
	padding: 32px 30px 50px 30px;
}
}

@media only screen and (max-width:670px){
.img-content h3, .img-content p ,.img-content p span.f18{
    font-size: 14px;
    line-height: 16px;
}

.info-box{
	padding:12px 8px;
	height: 100px;
}
.img-holder {
    width: 18%;
	margin: 0 8px 0 0;
}	
.img-content {
    width: 75%;
}
.banner-bg{
    background-size: contain;
}
.banner-content {
    margin-top: 120px;
}
}

@media only screen and (max-width:601px){
.banner-content {
    margin-top: 97px;
}
form.contact-form{
	margin-top:0px;
}
}


@media only screen and (max-width:590px){
.banner-content {
     margin-top: 84px;
}
.img-content h3, .img-content p ,.img-content p span.f18{
    font-size: 12px;
    line-height: 16px;
}
fieldset{
	margin-bottom:20px !important;
}
.banner-bg {
    background-size: 100%;
}
.banner-content {   
	padding: 25px 15px 14px 15px
}
}

@media only screen and (max-width:540px){
.banner-content h1{
	font-size: 38px;
    line-height: 45px;
	margin-bottom:5px;
}

legend {
    width: 29% !important;
}
.faculty-slider.slick-initialized.slick-slider{
	padding:0 30px;
}
.slick-prev {
    left: 40px !important;
}
.slick-next {
    right: 40px !important;
}
.banner-content {
    margin-top:90px;
    padding:3px 15px 5px 15px;
}
form.contact-form{
	margin-top:0%;
}
.info-box{
	padding:10px 6px;
}
.img-content h3, .img-content p, .img-content p span.f18 {
    font-size: 11px;
}	
.heading{
	font-size: 33px;
}
.p-50{
	padding:0px;
}

}

@media only screen and (max-width:480px){
.col-md-4.col-sm-4.no_pad {
	width:99%;	 
    margin: 0 auto;
	margin-bottom:8px;
}
p.certificate-line{
	padding:15px;
}

.modal-body{
	padding:10px 20px 40px 30px !important
}
.banner-content h1 {
    font-size: 31px;
	line-height:35px;
}

.img-content h3, .img-content p ,.img-content p span.f18 {
    font-size: 18px;
}
.col-md-4.col-sm-4.col-xs-12 {
    width: 100%;
}
img.img-responsive {
    display: inline;
    width: 100%;
}
.abt-content.bb-a, .abt-content{
	padding:0px;
}

.info-box{
	height:auto;	
}
.img-content h3, .img-content p, .img-content p span.f18{
	font-size: 19px;
    line-height: 22px;
}
.img-holder{
	text-align:center;
}

.clear-right{
	clear: right !important;
}
footer p{
	padding: 32px 30px 50px 30px;
}
.banner-content{
	margin-top:80px;
}
}


@media only screen and (max-width:420px){
.img-content h3, .img-content p, .img-content p span.f18 {
    font-size: 15px;
    line-height: 22px;
}
.banner-content{
	margin-top:80px;
}
.banner-bg {
    background-size:100% 35%;
}
.certificte h1 {
	line-height: 30px;
}
.banner-content h1 {
    font-size: 25px;
	line-height:30px;
	margin-bottom:5px;
}
.banner-content h2 {
    font-size: 21px;
    line-height: 22px;
	margin-bottom:5px;
}
 fieldset {
	height: auto!important;
    margin-bottom: 20px !important;
}
 legend img {
   width: 100%;
}
legend {
  width: 40% !important;
}
.banner-content p{
	font-size:22px;
}
}

@media only screen and (max-width:380px){
.banner-content p {
    font-size: 21px;
}
.banner-content{
	padding-left:8px;
}
}


@media only screen and (max-width:361px){
.col20.box {
    width: 100%;
    margin-bottom: 40px;
}
.banner-content{
	padding-left:8px;
}
footer p{
	padding: 32px 20px 50px 20px;
}
}	


@media only screen and (max-width:350px){
.banner-bg {
    background-size: 100% 34%;
}
}

@media only screen and (max-width:340px){
.banner-bg {
    background-size:contain;
}
.banner-content {
    margin-top: 50px;
}
}

@media only screen and (min-width:630px) and (max-width:736px){
legend img {
    width: 100%;
}
legend {
    width:40% !important;
}
}	


@media only screen and (min-width:900px) and (max-width:990px){
fieldset{
	padding:0 8px 32px 12px !important;
}
}

@media only screen and (min-width:767px) and (max-width:769px){
.certificte h1{
    font-size: 19px;
}
.banner-bg{
    background-size: contain;
}
.form-div {
    width: 103% !important;
	margin-left:-10px;
}
}

@media only screen and (min-width:799px) and (max-width:992px){
	.form-horizontal .control-label {
		font-size: 12px;
	}
	label.checkbox-inline{
	    font-size: 11px;
	}
	.form-group .col-sm-12 p {
		margin: 0px;
	}
	.form-horizontal .control-label {
		padding-top: 2px !important;
	}
	.banner-bg {
		background-position: top;
	}
}